*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
#logo{
    border-radius: 50%;
    height: 5em;
}
.header{
    list-style-type: none;
    display: flex;
    height: 10%;
    justify-items: end;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 5em;
    padding: 1em;
}