body{
    background:rgb(181, 104, 217) ;
    font-family: sans-serif;
    display: flex;
    align-items: flex-start;
    justify-items: flex-end;
    margin: 0;
    
    
}
.nav-bar{
    background-color: rgb(233, 226, 134);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
    margin: 0;
    padding-right: 8px;
    padding: -5px;
    
}
.logo{
    background-color: orange;
    font-weight: bold;
    padding: 25px;
    display: flex;
    flex: 1;
    

}
ul{
    list-style-type: none;
    display: flex;
    
 }
 a{
    text-decoration: none;
    color: black;
    display: block;
  padding: 5px;
  font-weight: bold;
 }
 .nav-bar a:hover{
    background-color: rgb(213, 162, 236);
    padding: 5px 10px;
    border-radius: 5px 10px;
 }