*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: blueviolet;
    font-weight: bold;
}
#logo{
    border-radius: 50%;
    height: 5em;
}
.header{
    list-style-type: none;
    display: flex;
    background-color: rgb(159, 47, 173);
    align-items: center;
    border: 2px solid gold;
    
}
.header>*{
    flex: 0 1 100%;
}
a{
    text-decoration: none;
}
#logo{
    display: flex;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    gap: 2em;
}
ul>*{
    flex-basis: 15%;
    border-radius: 50%;
    align-items: center;
}
a{
    color: white;
    background-color: rgb(248, 170, 170);
    padding: 2px;
    border-radius: 5px;
}
.button a:hover{
    color:gold
}
